.headingContact{
    font-size: 2.35vw;
}

.leftA{
    text-align: left;
}

.defineContact{
    font-size: 1.2vw;
  margin-left : 20px;
  margin-right: 40px;
}

.textBox{
 
    padding-top: 10px;
    
  
}
.sendButton{
    margin-top: 5px;
}
.textBoxInside{
    margin-top: 10px !important;
    width: 80%;
}

@media screen and (max-width : 500px) {
    .headingContact{
        font-size: 35px;
    }

.defineContact{
    font-size: 20px;
  margin-left : 10px;
  margin-right: 10px;
}
}
