.leftAlign{
    text-align: left;
    margin-top: 20%;
    margin-left: 15%;
}

.themText{
    color: #7450e9;
}

.bodyTopAlignment{
 padding-top:10% ;
 padding-left: 10%;
 padding-right: 10%;  
}

.lottieSize{
width: 65%;
}

.nameHeading{
    font-size: 2.35vw;
   
}

.imageClass{
    height: auto;
    width: 50px;
    transition: 1s;
 }
 
 .imageClass:hover{
   cursor: pointer;

 }

 .topMargin{
    margin-top: 2%;
  }
  

  .resumeButton{
      height: 50px;
      color: #000000;
      background-color: white;
      border: 2px solid #000000;
      font-size: 1.3vw;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 50px;
      transition: 1s;

  }

  .resumeButton:hover{
   
  box-shadow: 0 2px 0 2px #00000060;
  cursor: pointer;

}



@media screen and (max-width : 500px) {
    
    .bodyTopAlignment{
        padding-top:10% ;
        padding-left: 5%;
        padding-right: 5%;  
       }
       
       .lottieSize{
       width: 100%;
       }


       .leftAlign{
        text-align: left;
        margin-top: 5%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .nameHeading{
        font-size:35px;
       
    }
    .resumeButton{
        height: 35px;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .imageClass{
        height: auto;
        width: 35px;
        transition: 1s;
     }
}


