.App {
  text-align: center;
}

.secondaryText{
  color: #474747;
}
.blackHeading{
  color: black;
}
.heading{
  font-size: 2vw;
 margin-bottom: 10px;
}


@media screen and (max-width: 500px) {
  .heading{
      font-size: 35px;
     
  }
  
}