.App {
  text-align: center;
}

.secondaryText{
  color: #474747;
}
.blackHeading{
  color: black;
}
.heading{
  font-size: 2vw;
 margin-bottom: 10px;
}
.imageClass{
   height: auto;
   width: 40px;
   transition: 1s;
}

.imageClass:hover{
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .heading{
      font-size: 35px;
     
  }
  
}

.topMargin{
  margin-top: 5%;
}


